<h1>Welcome To Photogur!</h1>

<h2>Recent</h2>
<ul>
	<% @pictures.each do |p| %>
	<li><%= link_to(p) do %>
  		<%= p.title %>
		<% end %>
 	<% end%>
 	</li>

</ul>
<h1><%= link_to "Post a Picture!", "/pictures/new" %></h1>
<% @pictures.each do |p| %>
	<p><%= p.title %>, <%= p.artist %></p>
	<%= link_to image_tag(p.url), "/pictures/#{p.id}" %>
<% end %>	



<h3>Here are some pictures from over a month ago!</h3>
<ul>
	<% @month.each do |m| %>
	<li><%= link_to(m) do %>
  		<%= m.title %>
		<% end %>
 	<% end%>
 	</li>
</ul>
<p>There are <%= Picture.created_before(1.month.ago).count %> pictures uploaded from one month ago</p>


